<h2>create question</h2>
<form method="post" action="/users/:user_id/questions/new">
  <input type="text" name="question_title" placeholder="Question Title here">
  <textarea name="question_content" placeholder="Question Content"></textarea>
  <input type="submit" value="Ask Question">
</form>
