<h2>you can create your account here!</h2>
<form method="post" action="/signup">
  <input type="text" placeholder="first_name" name="first_name"><br>
  <input type="text" placeholder="last_name" name="last_name"><br>
  <input type="text" placeholder="email" name="email"><br>
  <input type="password" placeholder="Password" name="password"><br>
  <input type="password" placeholder="Confirm Password" name="confirm_password"><br>
  <input type="submit" value="Sign up">
</form>
